<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UnitConversion"
            android:label="@string/unit_conversion"
            android:theme="@style/Theme.UnitConversion"
            android:exported="true">
        </activity>
        <activity android:name=".Equations"
            android:exported="true"
            android:label="@string/equations">
        </activity>
        <activity android:name = ".Area">
            android:exported="true"
            android:label="Area">
        </activity>
        <activity
            android:exported="true"
            android:name=".Length"
            android:label="@string/length">

        </activity>
        <activity
            android:exported="true"
            android:name=".Calculator"
            android:label="@string/calculator">

        </activity>
        <activity
            android:exported="true"
            android:name=".Dates"
            android:label="Dates">
        </activity>
    </application>

</manifest>